*{
	font-family: 		Sitka Heading,Sitka Small,Georgia,Times New Roman;
}	

body {
	margin: 		auto;
	width: 			1280px;
	background:		black;
	color:			white;
}

#header{
	padding-top: 75px;
}

table {
	width:	100%;
}

#top{	
	margin: 		0px;
	width:			1280px;
	font-size:		30px;
	border-bottom:		3px solid goldenrod;
}

.sh1 {
	font-size:          	125%;
	font-weight:       	 bold;
	text-align:	    	center;
}


.sh2{
	font-size:        	  110%;
	font-weight:      	  bold;
	text-align:	  	  center;
	
}

.fh1{
	font-size:        	  110%;
	font-weight:      	  bold;
	text-align:		left;
	text-decoration:	underline;
	color:			  black;
}

#joinform{
	width:				40%;
	margin: 			auto;
	border:				5px solid goldenrod;
	margin-top:			5px;
	padding-left:			5px;
	background-color:		#FFFFE0;
	box-shadow:			5px 5px 3px 3px	rgba(128,128,128,.4);
	padding:			10px;
}

label {
	width:				11em;
	float:				left;
	text-align:			left;
        color:				black;     
}



.update{ text-align: 	center;}

.update input{
	font-size: 			95%;
	background-color:	        #605B5B;
	color:				white;
	font-style:			italic;
	font-weight:		        bold;
	box-shadow:			5px 5px 0px 0px rgba(203,190,190,.4);
}


footer {
	color:		white;
	text-align:	center;
}           

a:link {
	color: 	white; 
	text-decoration:none;
}
a:hover {
	color: 	white; 
	text-decoration:underline;
}
a:visited {
	color: white;
}    
                                          
                            
                            
                            
                            
                            
                            
                            
                                                            
                            
                            
                            
                            
                            
                            