*{
	font-family: 		Sitka Heading,Sitka Small,Georgia,Times New Roman;
	/* text-align:		center;*/
}

body {
	margin: 		auto;
	background:		black;
}

.pic img{
	width:			400px;
	height:			400px;
	margin-top:		10px;
	border-radius:		25px;
}

.artdes{
	/*text-align:	left;*/
	border:			3px solid goldenrod;
	width:			200px;
	height:			400px;
	margin-top:		10px;
	border-radius:		25px;
	padding-left:		5px;
}
                            